
# Игнорировать директорию build/
py/

# Игнорировать все файлы конфигурации среды разработки
.vscode/
.idea/
.env/

# Игнорировать исполняемые файлы
*.exe
*.dll

# Игнорировать файлы, содержащие пароли и конфиденциальную информацию
config/secrets.yml
